<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Configuration file</comment>
<entry key="logToFile">true</entry>
<entry key="login">login</entry>
<entry key="password">password</entry>
<entry key="responderIsOn">false</entry>
<entry key="headless">false</entry>
<entry key="logToConsole">true</entry>
<entry key="directMessageReportIsOn">false</entry>
</properties>
